@import "../../utils/vars";

@media screen and (max-width: 1199px) {
  .section-about {
    animation: gradient 60s ease infinite;
    background: {
      image: color("mobile-background");
      size: 800% 800%;
    }
    border-radius: 0;
    margin: 0;
  }

  .about-left {
    border-radius: 0;
    height: 690px;
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
    white-space: wrap;
    width: 100%;

    &_list {
      &-skills {
        margin: 0 auto;
        max-width: fit-content;
        padding-right: 20px;
        text-align: right;
      }
    }
  }

  .about-right {
    border-radius: 0;
    margin: 0 auto;
    max-width: 550px;
    width: 100%;

    &_title {
      text-align: center;
    }
  }
}
