@import "../utils/vars";

.section-contact {
  height: 100vh;
  height: 80svh;
  max-width: 1200px;
  padding: 60px;
  width: 100%;
}

.contact-list {
  font-size: 20px;

  &_element {
    margin-bottom: 35px;

    > a:focus svg {
      transform: scale(1.2);
    }
  }

  &_icon {
    height: 40px;
    margin-right: 20px;
    width: 40px;

    &:hover {
      transform: scale(1.2);
    }

    &--linkedin {
      fill: #095aac;
    }
  }
}
