#body-cv {
  background-color: #000;
}

.cv {
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  height: 892px;
  margin: 25px auto;
  width: 705px;

  &_div-left {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    height: 892px;
    width: 220px;

    > h1,
    h3,
    ul {
      margin: 10px 0 0 10px;
    }

    > h2 {
      margin-left: 10px;
    }

    &_image {
      height: 300px;
      width: 220px;
    }
  }

  &_div-right {
    height: 892px;
    margin-left: 25px;
    width: 400px;
  }
}
