@import "../utils/vars";

* {
  box-sizing: border-box;
  font-family: "Poltawski Nowy", serif;
  margin: 0;
  outline: transparent;
  padding: 0;
}

body {
  background-color: color("body");
  color: color("text");
  margin-top: 70px;
}

.section {
  margin: 0 auto;
  max-width: 1600px;
  padding: 64px 0;

  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }
}

a {
  color: color("text");
  text-decoration: none;
}

ul {
  list-style: none;
}
