@import "../utils/vars";
@media screen and (min-width: 1200px) {
  .nav-list_element-icon-burger {
    display: none;
  }
}

@media print {
  .header-about {
    display: none;
  }
}

// Header

.header {
  background: {
    image: color("mobile-background");
    size: 800% 800%;
  }
  animation: gradient 60s ease infinite;
  border-bottom: 2px solid color("line");
}

.logo {
  font-size: 32px;
  margin-left: 60px;
  margin-right: 60px;

  > a {
    color: color("text");
    text-decoration: none;
    &:hover,
    &:focus {
      color: color("interact");
    }
  }
}

.section-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.nav-list {
  align-items: center;
  display: flex;
  list-style: none;
  margin-right: 60px;

  &_element {
    margin-right: 40px;

    > a {
      color: color("text");
      font-size: 22px;
      text-decoration: none;
      &:hover,
      &:focus {
        color: color("interact");
      }
    }

    &-icon {
      margin-right: 32px;

      &-link {
        border-radius: 50%;
        display: block;
        padding: 10px;

        > svg {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

.menu-active.menu-active {
  color: color("interact");
}
