@media screen and (min-width: 768px) and (max-width: 1199px) {
  // Header
  .nav-list {
    margin-right: 60px;

    &_element {
      display: none;
    }
  }

  .nav-list_element-icon-burger {
    margin-left: 32px;
  }

  .section-header {
    padding: 0;
  }
}
